html{
    font-family:  Helvetica, sans-serif, Arial;
}

body{
    background-color: grey;
}

.main-box{
    border: solid 3px orange;
    background-color: lightgoldenrodyellow;
}

#chatbot-dialogue{
    border: solid 4px;
    border-radius: 5px;
    margin: 10px;
    width: 90%;
    height: 220px;
    margin-top: 35px;
    margin-left: 35px;
    overflow: scroll;
}

#input-box{
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 22px;
}

#chatbot-input{
    width: 655px;
    height: 28px;
    border-radius: 6px;
    margin-left: 35px;
    margin-bottom: 10px;
}

#sendB{
    height: 34px;
    border-radius: 6px
}